.containerForm {
    position: absolute;
    width: 1200px;
    height: 1100px;
    top: 60%;
    left: 57%; /* Sesuaikan agar benar-benar di tengah horizontal */
    transform: translate(-50%, -10%);
    background-color: white;
    border: 1px solid black;
    
}

