body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  height: 100vh;
}

.container1 {
  display: flex;
  width: 100%;
  height: 100%;
  background: white;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.right-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  margin-bottom: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.circle img {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  font-family: 'Offside', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*For Button */
.buttonLGSG {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-color: blue;
  box-sizing: border-box;
  color: blue;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.buttonLGSG:disabled {
  pointer-events: none;
}

.buttonLGSG:hover {
  color: white;
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.buttonLGSG:active {
  box-shadow: none;
  transform: translateY(0);
}

.poster {
  width: 100%;
  top: 20%;
  height: 750px;
  border: 1px solid black;
}

.cardPoster {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 75%;
  height: 800px;
  border-radius: 5px;
}